
div#container
  div#library
    
  div#workflow
    div#input-box.plug
    div#first-plug.plug
    div#second-plug.plug
    div#third-plug.plug
    div#first-arrow.arrow= "&rarr;"
    div#second-arrow.arrow= "&rarr;"
    div#third-arrow.arrow= "&rarr;"

    div#texture-input
        span= 'url:'
        input[type="text" value="/images/textures/sample.png"]
    select#first-filter-select.filter-select
    select#second-filter-select.filter-select
    select#third-filter-select.filter-select

  button#ping='Ping'
